 .container {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 400px;
    display: block;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
  }
  
  h1{
    font-size: 18px;
    text-decoration: underline;
    text-align: left;
    color: white;
  }
  
  pre{
    font-size: 15px;
    text-align: left;
    color: #707070;
    word-wrap: break-word;

  }

  p{
    font-size: 15px;
    text-align: left;
    color: #707070;
    word-wrap: break-word;

  }

  button{
    background-color:rgba(0,0,0,0);
    border: transparent 1px solid;
  }
  
  .header{
    display: flex;
    justify-content: center; /* 子要素を中央揃え */
    position: relative;
  }

  .sansen{
     width: 30px;
     margin: auto 0;
  }

  .button_before{
    position: absolute;
    left: 0; /* 左寄せ */
    margin-top: 10px;
    left: 2px;
    width: 55px;
    height: 40px;

  }

  .button_after{
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #707070;
  }

  .batsu{
    width: 20px;
  }

  .box{
    display: inline-block;
    margin-right: 12px;
    width: 34px;
    height: 50px;
  }
  .icon{
    display: inline-block;
    margin-top: 10px;
    width: 34px;
    height: 34px;
  }

  .main_logo{
    width: 100%;
    margin-top: 6px;
  }

  .content{
    position: relative;
    width: 100%;    
  }
  .robo{
    position: relative;
    height: 70%;
    top: 10px;
  }

  .robo_maru{
    position: absolute;
    /* float: left; */
    margin-top: 21.5px;
    left: 0px;
    width: 71px;
    height: 71px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    opacity: 1;
    border-radius: 50%; 
    text-align: center;
  }

  .detail_box{
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 0px;
    /* padding:5px 5px 5px 30px; */
    background-color: #d3d3d3;
  }

  .detail{
    padding:5px 5px 5px 45px;   
  }

  .menu_details{
    padding-left: 22px;
  }

  .detail_privacy{
    margin: 15px;
    padding: 15px;
    background-color: #d3d3d3;
  }
  
  .link_to_privacy {
    float: left;
    font-style: black;
    margin: 5px;
  }
  .link_to_company {
    float: right;
    font-style: black;
    margin: 5px;
  }
  .link_to_top {
    float: left;
    font-style: black;
    margin: 5px;
  }

.hidden{
    /*　要素を重ねた時の順番　*/
    z-index:1;  
    /*　画面全体を覆う設定　*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:white;
    /*　画面の中央に要素を表示させる設定　*/
    display: block;
    align-items: left;
    justify-content:left ;
  }